@page
@model WebApplication1.Pages.AdminModel
@{
    Layout = "";
    ViewData["Title"] = "Stockify";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" asp-page="/home">
            <img src="~/static/blogo.png" alt="Logo" height="50" width="50">
        </a>

        <!-- Navbar toggler button for responsive design -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links with centered "ADMIN" using Bootstrap grid -->
        <div class="container-fluid d-flex justify-content-center">
            <span class="nav-link font-weight-bold text-white">ADMIN</span>
        </div>
    </nav>




    

    <!-- Bootstrap JavaScript dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
