@page
@model signinModel
@{
    Layout = "";
    ViewData["Title"] = "Signin page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopify</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 400px;
            margin: auto;
            margin-top: 50px;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .logo {
            text-align: center;
            margin-bottom: 0px;
        }

        form {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        button {
            width: 100%;
            cursor: pointer;
        }

        .btn-signin {
            background-color: #007bff;
            color: #ffffff;
            border: none;
            padding: 10px;
            border-radius: 5px;
        }

            .btn-signin:hover {
                background-color: #0056b3;
            }

        .btn-signup {
            background-color: #28a745;
            color: #ffffff;
            border: none;
            padding: 10px;
            border-radius: 5px;
        }

            .btn-signup:hover {
                background-color: #218838;
            }

        .alert {
            margin-bottom: 20px;
        }

        .alert-success {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
            border-radius: 5px;
        }

        .alert-error {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="logo">
            <img src="~/static/glogo.png" alt="Logo" height="125" width="125">
        </div>

        <form method="post" asp-page="/signin">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" required asp-for="@Model.Username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" required asp-for="@Model.Password">
            </div>
            <button type="submit" class="btn btn-signin">Log in</button>
        </form>

        <div style="text-align: center;">
            <p class="text-Left mt-3">
                <a href="/ChangePassword">Forgot password?</a>
            </p>

            <hr style="width: 80%; margin: 10px auto;">

            <p class="text-center mt-3">
                <a href="/SignUp" class="btn btn-success btn-lg">Sign Up</a>
            </p>
        </div>


        

        <script>
           var role= "@Model.KRole";

            document.cookie = "userRole="+role;
           
        </script>

    </div>
</body>
</html>
